<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm">
      <h6 class="font-weight-bold">Download the App</h6>
    </div>
    <div class="col-sm">
      <ul>
        <li class="font-weight-bold">Contact Us</li>
        <li>support@lucid.com</li>
        <li>301-250-5223</li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li class="font-weight-bold">Company</li>
        <li class="clickable">Privacy Policy</li>
        <li class="clickable">Careers</li>
      </ul>
    </div>
    <div class="col-sm">
      <ul>
        <li class="font-weight-bold">Social</li>
        <li class="clickable">Instagram</li>
        <li class="clickable">Twitter</li>
        <li class="clickable">Facebook</li>
      </ul>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
