<div class="container-fluid outer-container">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4">
      <form class="rounded-pill px-sm-3 py-sm-2 search-bar">
        <input
          type="text"
          [(ngModel)]="searchValue"
          name="search"
          class="search-input"
          placeholder="Search...">
      </form>
    </div>
    <div class="col-sm-4">
      <div class="row py-sm-2 pl-sm-4">
        <div class="col-sm-auto">
          Filters:
        </div>
        <div class="col-sm-auto filter-toggle" data-toggle="collapse" href="#priceList">
          Price
        </div>
        <div class="col-sm-auto filter-toggle" data-toggle="collapse" href="#sizeList">
          Size
        </div>
        <div class="col-sm-auto filter-toggle" data-toggle="collapse" href="#availList">
          Availability
        </div>
      </div>
      <div class="row pl-sm-4">
        <div class="col-sm-auto dummy-spacer">
          Filters:
        </div>
        <div class="col-sm px-sm-0 item-list-outer-container">
          <div class="collapse rounded-bottom item-list-inner-container" id="priceList">
            <ul class="px-sm-0 item-list">
              <li
                *ngFor="let price of prices"
                (click)="onClickPriceItem(price)"
                [class]="{'active-item': pricesSelected.includes(price), 'inactive-item': !pricesSelected.includes(price)}"
                class="px-sm-3 py-sm-1">{{price}}</li>
            </ul>
          </div>
        </div>
        <div class="col-sm px-sm-0 item-list-outer-container">
          <div class="collapse rounded-bottom item-list-inner-container" id="sizeList">
            <div class="row" *ngFor="let sizeArray of sizes; let i = index">
              <div class="col-sm-2">{{sizeArray[0]}}</div>
              <div class="col-sm-10">
                <div class="row row-cols-6">
                  <div
                    class="col-sm item-div"
                    *ngFor="let sizeVal of sizeArray.slice(1)"
                    (click)="onClickSizeItem(sizeVal, i)"
                    [class]="{'active-item': sizesSelected[i].includes(sizeVal), 'inactive-item': !sizesSelected[i].includes(sizeVal)}">
                    {{sizeVal}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm px-sm-0 item-list-outer-container">
          <div class="collapse rounded-bottom item-list-inner-container" id="availList">
            <ul class="px-sm-0 item-list">
              <li
                *ngFor="let avail of avails"
                (click)="onClickAvailItem(avail)"
                [class]="{'active-item': availsSelected.includes(avail), 'inactive-item': !availsSelected.includes(avail)}"
                class="px-sm-3 py-sm-1">{{avail}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 px-sm-0">
      <div class="row py-sm-2 pr-sm-3 sort-list-toggle" data-toggle="collapse" href="#sortList">
        <div class="col-sm-auto pl-sm-3">
          Sort By:
        </div>
        <div class="col-sm px-sm-0">
          <div>{{sortSelected}}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-auto pl-sm-0 dummy-spacer">
          Sort By:
        </div>
        <div class="col-sm px-sm-0 item-list-outer-container">
          <div class="collapse rounded-bottom item-list-inner-container" id="sortList">
            <ul class="px-sm-0 item-list">
              <li
                *ngFor="let sort of sorts"
                (click)="onClickSortItem(sort)"
                [class]="{'active-item': sort == sortSelected, 'inactive-item': sort != sortSelected}"
                class="px-sm-3 py-sm-1"
                data-toggle="collapse"
                href="#sortList">{{sort}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
