.outer-container {
  margin-top: 1.75rem;
}

a {
  text-decoration: none;
}

/* The styles below are for the search bar */

.search-bar {
  background-color: #f0f0f0;
}

.search-input {
  width: 100%;
  background-color: #f0f0f0;
  border: none;
}

.search-input:focus {
  outline: none;
}

/* The styles below are for the sort by */
.sort-list-toggle {
  cursor: pointer;
  width: fit-content;
}

.dummy-spacer {
  opacity: 0;
}

.sort-list-outer-container {
  position: relative;
}

.sort-list-inner-container {
  position: absolute;
  background-color: #f8f8f8;
  z-index: 1;
}

.sort-list {
  list-style-type: none;
  margin-bottom: 0;
}

.sort-list li:hover {
  cursor: pointer;
}

.active-sort {
  background-color: #e0e0e0;
}

.inactive-sort:hover {
  background-color: #f0f0f0;
}
