<app-featured-preferences></app-featured-preferences>
<div class="container outer-container">
  <div class="row">
    <div class="col-sm">
      <h5>Most Popular</h5>
    </div>
  </div>
  <div class="container rounded container-products">
    <div class="row row-cols-4 row-products">
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <h5>Newest Arrivals</h5>
    </div>
  </div>
  <div class="container rounded container-products">
    <div class="row row-cols-4 row-products">
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
      <div class="col mb-3">
        <app-product></app-product>
      </div>
    </div>
  </div>
</div>
