.container-title {
  margin-top: 1.5rem;
}

.container-products {
  margin-bottom: 3rem;
  background-color: #fffbe6;
}

.row-products {
  padding-top: 1rem;
}

h5 {
  margin-bottom: 0.75rem;
}

.nav-arrow:hover {
  cursor: pointer;
  background-color: #f7f3df;
}
