.container-title {
  margin-top: 1.5rem;
}

.container-products {
  margin-bottom: 6rem;
  overflow: hidden;
}

.row-products {
  padding-top: 1rem;
}

.slide-container {
  position: absolute;
}

.curr-container {
  position: relative;
}

h5 {
  margin-bottom: 0.75rem;
}

.nav-arrow:hover {
  cursor: pointer;
  background-color: #f7f3df;
}

.shorten-container {
  height: 22rem;
  transition: height 0.75s;
}

.widen-container {
  height: 42rem;
  transition: height 0.75s;
}

.pagination {
  background-color: #f0f0f0;
}

.page-number {
  cursor: pointer;
}

.inactive-page:hover {
  background-color: #e0e0e0;
}

.active-page {
  background-color: #c8c8c8;
}
